* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #333;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 1rem;

  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 1rem;
  padding: 16px 0;
}

header {
  margin-top: 1rem;
  margin-bottom: 2.5rem
}

h1 {
  font-size: 64px;
  margin-bottom: 1rem;
}

header a {
  color: #888;
  margin-right: 1rem;
  text-decoration: none;
}

.weather-card {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 2rem auto;
  width: 180px;
  text-align: center;
  padding: 2rem 1rem;
}

.weather-card.show {
  background-color: #eee;
  box-shadow: 6px 6px 12px 0px rgba(0, 0, 0, 0.2);
}

.weather-card .icon {
  border-radius: 1rem;
}

.weather-card .location {
  font-weight: 700;
  font-size: 1.4rem;
}

.weather-card .forecast {
  color: #555;
  font-weight: 100;
  font-size: .9rem;
}

.weather-card .time {
  font-size: .7rem;
  margin: 0;
  color: #6b6b6b;
}
